@font-face {
    font-family: domain;
    src: url(./domain.ttf);
}
@font-face {
    font-family: canopee;
    src: url(./canopee.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
#main {
    background-color: #c4bcb3;
    overflow-x: hidden;
    height: 2000px;
}
#page1 {
    height: 1000px;
    width: 100vw;
    background-color: #c4bcb3;
    position: relative;
}
#nav {
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #848181;
    /* position: fixed;  */
}
#nav img {
    height: 20px;
    width: 30%;
}
#nav h5 {
    font-size: 12px;
    font-weight: 100;
    width: 30%;
}
#nav i {
    font-size: 18px;
    width: 30%;
    text-align: right;
}
#ele {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}
#ele1 {
    width: 30%;
    height: 100%;
    padding: 15px;
}
#ele1 h4 {
    font-size: 22px;
    margin: 12px 0 12px 0;
    font-family: canopee;
}
#ele1 h4 span {
    background-color: #c03f13;
    color: #cdc6be;
    font-weight: 100;
    font-size: 18px;
    margin: 5px;
    padding: 4px;
    border-radius: 4px;
}
#ele1 p {
   font-size: 18px;
   color: #1d1d1b;
   font-family: domain;
   font-weight: 100;
}
#ele2 {
    width: 30%;
    height: 100%;
    padding: 15px 60px;
    border-right: 2px solid #848181;
    border-left: 2px solid #848181;
    text-align: center;   
}
#ele2 h2 {
    font-family: canopee;
    font-size: 60px;
    font-weight: 550;
    color: #1f1f1b;
    letter-spacing: 0.3px;
}
#ele2 h3 {
    font-family: domain;
    font-size: 40px;
    font-weight: 100;
    color: #2d2d28;
    margin: 15px 0;
    margin-bottom: 30px;
}
#ele2 h6 span {
    font-weight: 600;
}
#ele2 h6 {
    font-family: domain;
    font-size: 18px;
    font-weight: 100;
    color: #2d2d28;
    letter-spacing: 1px;
}
#ele3 {
    width: 30%;
    height: 100%;
    padding: 15px;
}
#ele3 h4 {
    font-size: 20px;
    margin: 12px 0 12px 0;
    font-family: canopee;
}
#ele3 h4 span {
    background-color: #c03f13;
    color: #cdc6be;
    font-weight: 100;
    font-size: 18px;
    margin: 5px;
    padding: 4px;
    border-radius: 4px;
}
#ele3 p {
    font-size: 18px;
    color: #1d1d1b;
    font-family: domain;
    font-weight: 100;
}
#ele1 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;

}
#image-div img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all ease 0.5s;
}
#image-div:hover img {
    transform: scale(1.2);
}
#ele3 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#page1 h1 {
    font-size: 470px;
    font-family: canopee;
    background-color: #1d1d1b;
    color: #c4bcb3;
    font-weight: 500;
    padding: 10px;
    margin: 15px;
    line-height: 500px;
}
#page2 {
    height: 160vh;
    width: 100%;
    background-color: #c4bcb3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
#page2-left {
   height: 100%;
   width: 40%;
   padding-right: 40px;
   border-right: 1px solid #1d1d1b;
   margin-right: 20px;
}
#page2-left h2 {
    font-size: 110px;
    font-family: canopee;
    line-height: 140px;
    font-weight: 400;
}
#page2-left h2 span {
    font-size: 190px;
    font-weight: 600;
}
#page2-left img {
    height: 40%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #1d1d1b;
}
#page2-left p {
    font-size: 30px;
    font-family: domain;
    padding-top: 40px;
    text-align: left;
    color: #1d1d1b;
    font-weight: 100;
    line-height: 35px;
}
#page2-left p span {
    font-size: 70px;
    color: #cdc6be;
    background-color: #1d1d1b;
    margin: 10px;
    padding: 18px;
    font-weight: 800;
    float: left;
    text-align: center;
    margin-bottom: 5px;
}
#page2-right {
   height: 100%;
   width: 55%;
   padding: 0 20px 0 0;
   margin-left: 0;
}
#page2-right img {
    height: 60%;
    object-fit: cover;
    width: 100%;
    border: 1px solid #1d1d1b;
}
#page2-right h1 {
    font-family: canopee;
    font-size: 85px;
    font-weight: 600;
    color: #1d1d1b;
}
#page3 {
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #c4bcb3;
}
#page3 h1 {
    height: 100%;
    font-size: 360px;
    font-weight: 500;
    font-family: canopee;
    color: #c4bcb3;
    background-color: #1d1d1b;
    padding: 0 40px;
    letter-spacing: -10px;
}
#page3 img {
    height: 100%;
    padding: 0 20px;
}
#page4 {
    height: 150vh;
    background-color: #c4bcb3;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    padding-top: 30px;
}
#page4-right {
    width: 35%;
    height: 100%;
    background-color: #c4bcb3;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 20px; */
    border-left: 1px solid #1d1d1b;
    padding: 10px;
}
#page4-right h1 {
    font-size: 90px;
    font-family: canopee;
    font-weight: 600;
    padding: 10px 10px 10px 20px;
    line-height: 120px;
    color: #1d1d1b;
}
#page4-right h1 span {
    font-size: 180px;
    font-weight: 300;
    letter-spacing: -10px;
    /* padding-top: 30px; */
}
#page4-right #first {
    font-size: 40px;
    padding: 10px 10px 30px 20px;
    color: #1d1d1b;
    font-family: domain;
    line-height: 40px;
}
#page4-right #first span {
    font-size: 50px;
    font-weight: bold;
    color: #c4bcb3;
    background-color: #1d1d1b;
    padding: 5px;
    margin: 2px;
    float: left;
    font-family: domain;
}
#page4-right #second {
    font-size: 30px;
    padding: 10px 10px 30px 20px;
    color: #1d1d1b;
    font-family: domain;
    line-height: 40px;
}
#page4-left {
    /* background-color: blue; */
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#page4-left #page4-left-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-betweeen;
}
#element-1 {
    width: 50%;
    padding: 30px  10px 30px 20px;
    margin: 0;
    height: 100%;
    border-right: 1px solid #1d1c1d;
}
#element-1 h2 {
    font-family: canopee;
    font-size: 45px;
    font-weight: 700;
    color: #1f1f1b;
    letter-spacing: 0.3px;
    line-height: 40px;
}
#element-1 h3 {
    font-family: domain;
    font-size: 35px;
    font-weight: 100;
    color: #2d2d28;
    margin: 15px 0;
    margin-bottom: 30px;
    line-height: 40px;
}
#element-1 h6 {
    font-family: domain;
    font-size: 18px;
    font-weight: 100;
    color: #2d2d28;
    letter-spacing: 1px;
}
#element-1 h6 span {
    font-weight: 600;
}
#element-2 {
    width: 45%;
    padding: 10px 20px 10px 40px;
    /* margin-bottom: 20px; */
    box-sizing: content-box;
}
#element-2 #image-div {
    overflow: hidden;
    width: 100%;

}
#element-2 h4 {
    font-size: 25px;
    margin: 12px 0 12px 0;
    font-family: canopee;
    color: #1d1d1b;
}
#element-2 p {
    font-size: 18px;
    color: #2d2d28;
    font-family: domain;
    font-weight: 100;
}
#page4-left-second {
    width: 100%;
    height: 100%;
}
#page4-left-second img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    padding: 10px 0 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#page4-right #gola {
    height: 160px;
    width: 90%;
    border-radius: 50%;
    background-color: #c4bcb3;
    border: 1px solid #1d1d1b;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
#gola h1 {
    font-size: 60px;
    font-family: canopee;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-35%);
    transition: all ease 0.6s;
}
#gola img {
    height: 50px;
    transform: translateX(-120%);
    transition: all ease 0.6s;

}
#gola:hover img {
    transform: translateX(80%);
}
#gola:hover h1 {
    transform: translateX(100%);
}
#page5 {
    height: 40vh;
    width: 100%;
    background-color: #c4bcb3;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #1d1d1b;
    border-bottom: 1px solid #1d1d1d;
    margin: 40px 20px 20px 20px;
}
#page5 #one {
    background-color: #c4bcb3;
    height: 70%;
    width: 100%;
    margin-left: 20px;
    font-family: canopee;
    font-size: 30px;
    padding-top: 40px ;
    position: relative;
    color: #2d2d28;
    font-weight: 100;
}
#page5 #one span {
    font-size: 80px;
    font-weight: 100;
    letter-spacing: -5px;
    color: #1d1d1b;
}
#page5 #one #one-nine {
    position: absolute;
    top: -10px;
    font-size: 180px;
    float: right;
    /* padding: 20px; */
    margin-left: 30px;
    color: #1d1d1b;
}
#page5 #two {
    background-color: #c4bcb3;
    height: 70%;
    width: 100%;
    margin-left: 20px;
    font-family: canopee;
    font-size: 30px;
    padding-top: 40px ;
    position: relative;
    color: #2d2d28;
    font-weight: 100;
}
#page5 #two span {
    font-size: 80px;
    font-weight: 100;
    letter-spacing: -5px;
    color: #1d1d1b;
}
#page5 #two #two-one {
    position: absolute;
    top: -10px;
    font-size: 180px;
    float: right;
    /* padding: 20px; */
    margin-left: 30px;
    color: #1d1d1b;
}
#page5 #three {
    background-color: #c4bcb3;
    height: 70%;
    width: 100%;
    margin-left: 20px;
    font-family: canopee;
    font-size: 30px;
    padding-top: 40px ;
    position: relative;
    color: #2d2d28;
    font-weight: 100;
}
#page5 #three span {
    font-size: 80px;
    font-weight: 100;
    letter-spacing: -5px;
    color: #1d1d1b;
}
#page5 #three #three-six {
    position: absolute;
    top: -15px;
    font-size: 180px;
    float: right;
    padding: 20px;
    margin-left: 15px;
    color: #1d1d1b;
}
#page5 #four {
    background-color: #c4bcb3;
    height: 70%;
    width: 120%;
    margin-left: 20px;
    font-family: canopee;
    font-size: 25px;
    padding-top: 40px ;
    position: relative;
    color: #2d2d28;
    font-weight: 100;
}
#page5 #four span {
    font-size: 80px;
    font-weight: 100;
    letter-spacing: -5px;
    color: #2d2d28;
}
#page5 #four #four-eight {
    position: absolute;
    top: -20px;
    font-size: 180px;
    float: right;
    padding: 20px;
    color: #2d2d28;
}
#page6 {
    height: 110vh;
    width: 100%;
    background-color: #c4bcb3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 20px 10px;
}
#page6-right {
    height: 100%;
    width: 50%;
    position: relative;
}
#page6-right img {
    height: 95%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #1d1d1b;
}
#page6-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#page6-left-element1 {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#page6-left-element1-one {
    height: 100%;
    width: 30%;
    position: relative;
}
#page6-left-element1-one img {
    position: absolute;
    top: 0;
    height: 82%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #1d1d1b;
}
#page6-left-element1-two {
    height: 100%;
    width: 70%;
    overflow: hidden;
    position: relative;
}
#page6-left-element1-two h1 {
    position: absolute;
    top: -65px;
    height: 100%;
    width: 80%;
    font-size: 390px;
    font-family: canopee;
    text-align: center;
    font-weight: 400;
    color: #1d1d1b;
    letter-spacing: -15px;

}
#page6-left-element2 {
    height: 50%;
    width: 100%;
    position: relative;
}
#page6-left-element2 h1 {
    position: absolute;
    top: -60px;
    font-size: 415px;
    font-family: canopee;
    color: #1d1d1b;
    font-weight: 400;
    letter-spacing: -20px;
    padding-left: 25px;
}
#page7 {
    height: 40vh;
    width: 100%;
    background-color: #c4bcb3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
#page7-left {
    height: 110%;
    width: 25%;
    /* background-color: brown; */
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
#page7-left img {
    position: absolute;
    top: 16px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #1d1d1b;
}
#page7-right {
    height: 100%;
    width: 70%;
    /* background-color: blue; */
    position: relative;
}
#page7-right h1 {
    position: absolute;
    top: -58px;
    left: -40px;
    height: 100%;
    width: 100%;
    font-size: 390px;
    font-family: canopee;
    color: #1d1d1b;
    text-align: center;
    font-weight: 400;
    /* overflow-x: hidden; */
    padding-left: 10px;
    letter-spacing: -20px;
}
#page8 {
    height: 64vh;
    width: 100%;
    background-color: #c4bcb3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12vh;
    padding-bottom: 20px;
}
#page8-left {
    height: 100%;
    width: 65%;
    background-color: #1d1d1b;
    padding: 0 10px 40px 10px ;
}
#page8-left h1 {
    font-family: canopee;
    font-size: 390px;
    font-weight: 100;
    letter-spacing: -20px;
    color: #c4bcb3;
}
#page8-right {
    height: 100%;
    width: 35%;
    background-color: #c4bcb3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#page8-right .para {
    font-family: doamin;
    font-size: 29px;
    font-weight: 100;
    color: #2d2d28;
    padding: 10px;
}
#page8-right  h1 {
    font-size: 110px;
    font-family: canopee;
    font-weight: 300;
    color: #1d1d1b;
}
#page9 {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
    background-color: #c4bcb3;
    border-top: 1px solid #1d1d1b;
    padding: 20px;
}
#page9-one {
    width: 30%;
    height: 100%;
    padding: 15px;
}
#page9-one h4 {
    font-size: 28px;
    margin: 12px 0 12px 0;
    font-family: canopee;
}
#page9-one h4 span {
    background-color: #c03f13;
    color: #cdc6be;
    font-weight: 100;
    font-size: 25px;
    margin: 5px;
    padding: 4px;
    border-radius: 4px;
}
#page9-one p {
   font-size: 18px;
   color: #1d1d1b;
   font-family: domain;
   font-weight: 100;
}
#page9-two {
    width: 30%;
    height: 100%;
    padding: 30px 20px;
    border-right: 2px solid #848181;
    border-left: 2px solid #848181;
    text-align: center;   
}
#page9-two h2 {
    font-family: canopee;
    font-size: 60px;
    font-weight: 600;
    /* color: #2d2d28; */
    letter-spacing: 0.3px;
}
#page9-two h3 {
    font-family: domain;
    font-size: 40px;
    font-weight: 100;
    color: #2d2d28;
    padding: 15px;
    /* margin: 15px 0;
    margin-bottom: 30px; */
}
#page9-two h6 span {
    font-weight: 700;
    padding: 5px;
}
#page9-two h6 {
    font-family: domain;
    font-size: 18px;
    font-weight: 100;
    color: #2d2d28;
    letter-spacing: 1px;
    padding: 20px;
}
#page9-three {
    width: 30%;
    height: 100%;
    padding: 15px;
}
#page9-three h4 {
    font-size: 28px;
    margin: 12px 0 12px 0;
    font-family: canopee;
}
#page9-three h4 span {
    background-color: #c03f13;
    color: #cdc6be;
    font-weight: 100;
    font-size: 25px;
    margin: 5px;
    padding: 4px;
    border-radius: 4px;
}
#page9-three p {
    font-size: 18px;
    color: #1d1d1b;
    font-family: domain;
    font-weight: 100;
}
#page9-one #page9-image {
    height: 60%;
    width: 100%;
    overflow: hidden;

}
#page9-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all ease 0.5s;
}
#page9-image:hover img {
    transform: scale(1.2);
}
#page9-three #page9-image {
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#page10 {
    /* height: 120px; */
    padding: 20px 0;
    width: 100%;
    background-color: #c4bcb3;
    border-top: 1px solid #2d2d28;
    border-bottom: 1px solid #2d2d28;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px 10px;
    margin-bottom: 20px;
}
#page10::-webkit-scrollbar{
    display: none;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 24px));
    }
}
#page10 h1 {
    font-size: 70px;
    font-family: domain;
    font-weight: 100;
    color: #1d1d1d;
    display: inline-block;
    margin-right: 20px;
    animation-name: scroll;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#page10 h1 span {
    font-family: canopee;
    background-color: #2d2d28;
    color: #c4bcb3;
    padding: 0 5px;
}
#page10:hover h1 {
    animation-play-state: paused;
}
#page11 {
    height: 100px;
    width: 100%;
    background-color: #c4bcb3;
}
#footer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#footer #logo {
    height: 100%;
    width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#footer #logo h1 {
    height: 80%;
    width: 30%;
    font-size: 20px;
    font-family: canopee;
    margin-top: 55px;
}
#footer #logo p {
    font-family: domain;
}
#footer #logo img {
    height: 40%;
    width: 10%;
    object-fit: cover;
}
#footer #sidewala {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#footer #sidewala #pahla {
    font-size: 20px;
    font-family: canopee;
    font-weight: 400;

}
#footer #sidewala #dusra {
    font-size: 20px;
    font-family: canopee;
    font-weight: 400;

}
#footer #sidewala #tesra {
    font-size: 20px;
    font-family: canopee;
    font-weight: 400;

}